Source: ncurses-examples
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Section: misc
Priority: optional
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5)
Homepage: https://invisible-island.net/ncurses/ncurses-examples.html

Package: ncurses-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: example/test programs from ncurses
 These are the example/test programs from the ncurses distribution.
 .
 This package installs in "bin/ncurses-examples" to avoid conflict with other
 packages.

Package: ncursest-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: example/test programs from ncurses
 These are the example/test programs from the ncurses distribution, using
 the thread configuration.
 .
 This package installs in "bin/ncursest-examples" to avoid conflict with other
 packages.
